{%extends 'layout.html'%}

{%block content%}
<!-- Body start.. -->

<div class="container" style="margin-top: 20px;">
    <div class="jumbotron">
        <h1>Blackchain Web Arayüz</h1>
    </div>
</div>


<div class="container" style="margin-top: 200px;">
    <form class="form-group" method="post">
        <div class="input-group mb-3">
            <input class="form-control shadow-lg p-3" name="query" type="text" placeholder="TCKN/VKN.."
                aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" value="Ara" id="button-addon2">Sorgula</button>
        </div>
    </form>
</div>

<div class="div container">
    {%if result %}
    <div class="alert alert-success" role="alert">
        {{result }}
    </div>

    {%else%}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>

    {%endif%}
</div>

<!-- Body end.. -->
{%endblock%}